# Core Django
Django>=6.1

# REST Framework
djangorestframework
django-filter
drf-spectacular
django-rest-passwordreset

# GraphQL
strawberry-graphql[django,opentelemetry]

# Forms and utilities
django-crispy-forms
django-import-export
django-embed-video
django-phonenumber-field
django-flags

# for cron_jobs (Scheduled tasks)
django_crontab

# Security / CORS
django-cors-headers

# Debugging
django-debug-toolbar

# Database backup
django-dbbackup

# GIS support
#GDAL
django[gis]       # enables GeoDjango (requires system libs: GDAL/GEOS)


# PostgreSQL driver
psycopg2-binary ; python_version < "3.14"
psycopg[binary] ; python_version >= "3.14"

# Web servers (WSGI & ASGI)
gunicorn
uvicorn[standard]

# Env handling
python-dotenv

# Image related
pillow

# Cloudinary
cloudinary 
django-cloudinary-storage

# toml
tomli>=2.3.0

# In-Memory Cache (Official Valkey Client)
valkey>=1.0.0

# Observability & OpenTelemetry (Tracing, Metrics, Logging)
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-django
opentelemetry-instrumentation-psycopg2 ; python_version < "3.14"
opentelemetry-instrumentation-psycopg ; python_version >= "3.14"
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-wsgi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-urllib3
opentelemetry-instrumentation-logging